<?php
return array(
    'modules' => array(
        'ZendDeveloperTools',
    ),
    'module_listener_options' => array(
        'config_cache_enabled' => false,
        'module_map_cache_enabled' => false,
        'check_dependencies' => false,
    ),
);
